#images {
	padding:10px;
	text-align:center;
}

body {
	margin-top:20px;
}

.center {
	text-align:center;
}

.row {
	margin-bottom:20px;
	padding-bottom:20px;
	border:2px solid black;
}

.blue {
	color:white;
	background:#22313F;
}

.green {
	color:white;
	background:#00B16A;
}

.black-text {
	color:black;
}
